@import './fonts';
@import './theme-variables';

:root {
  --amplify-font-family: 'Graphik Web';
  --amplify-primary-color: var(--theme-primary-color);
  --amplify-primary-tint: var(--theme-primary-color);
  --amplify-primary-shade: var(--theme-primary-color);
}

amplify-authenticator {
  --container-height: auto;
  --width: 25rem;
  --amplify-components-button-link-hover-color: #fff;
}

#site-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.amplify-button:hover {
  color: #fff !important;
}

.amplify-tabs {
  button[data-state='inactive'] {
    background-color: #e2e2e2;
  }
}

#site-main {
  padding: 0;
  flex: 1;
  height: auto;
}

.list-item h1 {
  font-size: 5rem;
  -webkit-text-stroke: 2px #2dbecd;
  -webkit-text-fill-color: white;
}

.site-section {
  padding: 4rem 0;
}

.img-wrapper {
  display: block;
  width: 100%;
  margin: auto;
}
