:root {
  /*
  ---------------------------------
  Please Note: Default Theme Colors
  ----------------------------------
  These css variables will be overridden by utils/ThemeContext.ts on page load.
  Also theme color values will change according to dark or light mode selected.
  So no need to change colors here, these are just the default colors.
  If you want to change theme colors please go to src/theme.ts

  */
  --theme-primary-color: #8118c9;
  --theme-secondary-color: #0039fa;
}

$theme-primary: var(--theme-primary-color);
$theme-secondary: var(--theme-secondary-color);

// Default Breakpoints in the theme
$xl: 1920px;
$lg: 1280px;
$md: 960px;
$sm: 600px;
$xs: 0;
