.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
  margin: 1rem;
  transition: all 0.3s ease-in-out;
  opacity: 0.9;

  .button_title {
    font-size: 1rem;
  }

  &:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding-left: 2.2rem;
    opacity: 1;
  }

  h2 {
    font-weight: 600;
    margin: 0;
    padding: 0;

    &.button_title_hover_dark {
      font-size: 1rem;
      color: #fff;
    }
  }
}
