.contacts {
  section {
    margin-top: 13rem;
  }

  & h2 {
    font-size: 3rem;
    text-align: center;
  }

  & h3 {
    font-size: 1rem;
    text-align: left;
    margin-top: 1rem;
    background-color: var(--secondary-color);
    padding: 1.2rem;
    margin-top: 1rem;
    transition: all 0.2s ease-in-out;
  }

  & h3:hover {
    background-color: var(--background-color-grey);
  }

  & h3:first-of-type {
    margin-top: 0;
  }

  & h4 {
    text-align: center;
    margin: 2rem 0;
    font-size: 1.5rem;
  }

  .contacts__location {
    img {
      width: 100%;
    }
  }

  .input__wrapper {
    display: flex;
    justify-content: space-between;

    input {
      background-color: var(--secondary-color);
      width: 40%;
      padding: 1.5rem;
    }
  }

  form {
    margin-top: 3rem;
  }

  textarea {
    background-color: var(--secondary-color);
    width: 100%;
    padding: 1.5rem;
    height: 8rem;
    margin-top: 1rem;
    word-wrap: break-word;
  }

  .contacts__button__wrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: center;

    button {
      h2 {
        font-size: 1.8rem;
      }
    }
  }

  p {
    text-align: center;
    margin: 3rem 0;
  }
}
