/* Light Theme Colors */
$white-1: #ffffff;
$white-2: #f8f8f8;
$grey-1: #f1ece8;
$grey-2: #949497;
$blue-1: #0054f0;
$black-1: #000;
$black-2: #232323;

/* Dark Theme Colors */
$neutral-0: #ffffff;
$neutral-500: #949497;
$neutral-700: #626264;
$neutral-800: #39393a;
$neutral-900: #333333;
$dark-overlay-8: #2b2b2e;
$primary-500: #846bda;
