@import './_breakpoints.scss';

@mixin sm {
  @media (max-width: $small-screen) {
    @content;
  }
}
@mixin md {
  @media (min-width: $medium-screen) {
    @content;
  }
}
@mixin lg {
  @media (min-width: $large-screen) {
    @content;
  }
}
@mixin xl {
  @media (min-width: $extra-large-screen) {
    @content;
  }
}
@mixin xxl {
  @media (min-width: $extra-extra-large-screen) {
    @content;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
}

.page {
  position: relative;
  max-width: $extra-large-screen;
}

// style utilities

.zoomInOutEffect {
  transition: 0.4s;
}

.zoomInOutEffect:hover {
  transform: scale(1.1);
}
