html[data-theme='light'] {
  --color: #{$black-1};
  --background-color: #{$white-1};
  --background-color-grey: #{$grey-1};
  --primary-color: #{$blue-1};
  --secondary-color: #{$white-2};
  --line-background-color: #{$white-1};
  --card-border-color: #{$grey-1};
  --selected-menu-background: #{$white-1};
  --overlay: #{$transparent-white-1};
}

html[data-theme='dark'] {
  --color: #{$neutral-0};
  --background-color: #{$neutral-900};
  --background-color-grey: #{$neutral-900};
  --primary-color: #{$blue-1};
  --secondary-color: #{$neutral-700};
  --line-background-color: #{$neutral-900};
  --card-border-color: #{$neutral-800};
  --selected-menu-background: #{$neutral-700};
  --overlay: #{$transparent-black-1};
}
