.home {
  section {
    margin-top: 13rem;
    margin-bottom: 6rem;
  }
  & h2 {
    font-size: 3rem;
    text-align: center;
  }

  & h3 {
    font-size: 2rem;
    text-align: center;
    background-color: var(--secondary-color);
    padding: 1.2rem;
    margin-top: 1rem;
    transition: all 0.2s ease-in-out;
  }

  & h3:hover {
    background-color: var(--background-color-grey);
  }

  & h3:first-of-type {
    margin-top: 0;
  }

  .home__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .home__button__wrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }

  video {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    object-fit: cover;
    z-index: -2;
  }

  .overlay {
    width: 100%;
    height: 100%;
    background-color: var(--overlay);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    backdrop-filter: blur(5px);
  }
}
